
svg {
  min-width: 95vw;
}

.mask-yes {
    fill: none;
    stroke: white;
    stroke-width: 14;
 }
 .mask-no {
    fill: none;
    stroke: black;
    stroke-width: 16;
 }
 .mask-block {
    fill: black;
 }
 .mask-frame {
    fill: none;
    stroke: black;
    stroke-width: 20;
 }
 .thread {
    fill: none;
    stroke-width: 14;
 }
 #grow > :nth-child(3n+1) .thread , .green {
    stroke: #008080;
 }
 #grow > :nth-child(3n+2) .thread , .red {
    stroke: #ff0000;
 }
 #grow > :nth-child(3n) .thread , .gold {
    stroke: #ffcc00;
 }
 .shadow-line {
    fill: url(#lline);
 }
 .shadow-upper {
    fill: url(#rstart1);
 }
 .shadow-lower {
    fill: url(#rstart2);
 }
 .light {
    fill: #fff;
    opacity: 0.65;
 }
 #end > g {
    display: none;
 }
 #end > .active {
    display: inline;
 }
