.selfie {
  display: flex;
  justify-content: center;
  img {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    width: 55%;
    border-radius: 2rem;
    display: flex;
    box-shadow: 1px 1px 20px 9px #d1a56b5e;
    margin-bottom: 1rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}