<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <nav class="nav">
      <button class="nav__toggle" aria-expanded="false" type="button">
        menu
      </button>
      <ul class="nav__wrapper">
        <li class="nav__item"><a routerLink="/home" routerLinkActive="active">home</a></li>
        <li class="nav__item"><a routerLink="/about" routerLinkActive="active">about</a></li>
      </ul>
      <a routerLink="/home" class="brand">Slow Stitch Goods</a>
      <ul class="nav__wrapper">
        <li class="nav__item"><a routerLink="/stitches" routerLinkActive="active">stitches</a></li>
        <li class="nav__item"><a routerLink="/contact" routerLinkActive="active">contact</a></li>
      </ul>
    </nav>
  </div>
</header>