<span class="title">bitches get stitches</span>

<div class="image-main">
    <img src="http://via.placeholder.com/304x304" />
    <img src="http://via.placeholder.com/304x304" />
    <img src="http://via.placeholder.com/304x304" />
    <img src="http://via.placeholder.com/304x304" />
    <img src="http://via.placeholder.com/304x304" />
    <img src="http://via.placeholder.com/304x304" />
    <img src="http://via.placeholder.com/304x304" />
    <img src="http://via.placeholder.com/304x304" />
</div>